/*Шрифт*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;900&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
.container{
	width: 1050px;
	margin: 0 auto;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  font-family:'Raleway';
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0 auto;
}

/*Header(заголовок сайта)*/

.header__menu{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 30px;
}

.title__logo{
	color: #FD7A22;
	font-weight: 600;
	font-size: 40px;
}

.menu {
	display: flex;
}

li {
    list-style-type: none; 
}

.menu a{
	font-size: 20px;
	color: #1C1C1C;
	text-decoration: none;
	padding: 13px 25px;
	font-weight: 500;
}

.menu a:hover{
    color: #fff;
    font-size: 20px;
    background-color: #6747FA; 
	border-radius: 25px;
    transition: 0.5s;
	padding: 13px 25px;
}

.nav .icon {
    display: none;
}

/*Секция Expert Moving и формы*/
.header__expert-moving{
	padding-top: 68px;
}

.header__expert{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}

.title__header{
	font-size: 40px;
}

.img__expert-moving{
	padding-top: 30px;
	padding-left: 475px;
	position: absolute;
}

.forma{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 427px;
	height: 420px;
	background-color: #FD7A22;
	align-items: center;
	justify-content: center;
	border-radius:10px;
	margin-top: 30px;
	margin-bottom: 100px;
}

.text__from{
	color: #ffffff;
	align-self: start;
	padding-left: 60px;
	padding-bottom: 10px;
	font-weight: 500;
}

.text__to{
	padding-top: 25px;
	padding-bottom: 10px;
	color: #ffffff;
	font-weight: 500;
}

.pass{
	padding: 11px;
    background: #ffffff;
    border: 1px solid #ffffff;
	font-size: 20px;
	outline:none;
}

input[type=password] {
	width: 309px;
	height: 54px;
  	border-radius:10px;
	border-color: white;
}

/*Изменял цвет плэйсхолдера*/
::-webkit-input-placeholder { /* WebKit browsers */
	color:#DEDEDE;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#DEDEDE;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#DEDEDE;
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#DEDEDE;
 }

:focus::-webkit-input-placeholder {
	color: transparent;
}

.click{
	display: flex;
	align-items: center;
	color: #ffffff;
    font-size: 22px;
    background-color: #6747FA; 
	border-radius: 10px;
	padding: 12px 100px 13px 80px;

}

.buttun__click{
	padding-top: 25px;
}

.icon__arrow{
	padding-left: 7px;
}
/*Секция карточки*/

.card__services{
	padding-bottom: 100px;
}

.text__card{
	color: #1C1C1C;
	font-weight: 500;
	font-size: 25px;
	text-align: center;
	white-space: nowrap;
	padding-top: 5px;
}

.icon__services{
	width: 80px;
	height: 80px;
}

.card__services-one {
	display: flex;
	justify-content: center;
	align-self: center;
}

.card__services-Local {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 331px;
	height: 212px;
	background-color: #F0F0F0; 
	border-radius: 10px;
	margin-right: 20px;
}

.card__services-Local:hover{
	display: flex;
	background-color: #6747FA;
	transition: 0.6s;
}

.card__services-Local:hover .text__card{
	color: #ffffff;
}

.card__services-Local:hover .fill{
	fill: #ffffff;
}

.card__services-Long {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 331px;
	height: 212px;
	background-color: #F0F0F0; 
	border-radius: 10px;
	margin-right: 20px;
}

.card__services-Long:hover{
	display: flex;
	background-color: #6747FA;
	transition: 0.6s;
}

.card__services-Long:hover .text__card{
	color: #ffffff;
}

.card__services-Long:hover .fill{
	fill: #ffffff;
}

.card__services-Interstate {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 331px;
	height: 212px;
	background-color: #F0F0F0;
	padding-bottom: 22px;
	border-radius: 10px;
	margin-right: 20px;
}

.card__services-Interstate:hover{
	display: flex;
	background-color: #6747FA;
	transition: 0.6s;
}

.card__services-Interstate:hover .text__card{
	color: #ffffff;
}

.card__services-Interstate:hover .fill{
	fill: #ffffff;
}

.card__services-two {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

.card__services-Residential {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 331px;
	height: 212px;
	background-color: #F0F0F0; 
	border-radius: 10px;
	margin-right: 20px;
}

.card__services-Residential:hover{
	display: flex;
	background-color: #6747FA;
	transition: 0.6s;
}

.card__services-Residential:hover .text__card{
	color: #ffffff;
}

.card__services-Residential:hover .fill{
	fill: #ffffff;
}

.card__services-Commercial {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 331px;
	height: 212px;
	background-color: #F0F0F0;
	padding-top: 20px;
	border-radius: 10px;
	margin-right: 20px;
}

.card__services-Commercial:hover{
	display: flex;
	background-color: #6747FA;
	transition: 0.6s;
}

.card__services-Commercial:hover .text__card{
	color: #ffffff;
}

.card__services-Commercial:hover .fill{
	fill: #ffffff;
}

.card__services-Packing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 331px;
	height: 212px;
	background-color: #F0F0F0;
	padding-top: 5px;
	border-radius: 10px;
	margin-right: 20px;
}

.card__services-Packing:hover{
	display: flex;
	background-color: #6747FA;
	transition: 0.6s;
}

.card__services-Packing:hover .text__card{
	color: #ffffff;
}

.card__services-Packing:hover .fill{
	fill: #ffffff;
}
/*Секция Relocation*/

.Relocation__main {
	display: flex;
	justify-content: center;
	padding-bottom: 160px;
}

.Relocation__title {
	font-size: 45px;
	font-weight: 600;
}

.Relocation__text {
	width: 465px;
	height: 198px;
	font-size: 22px;
	padding-top: 23px;
}

.Relocatioln__pros {
	width: 705px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.Relocatioln__pros-satisfied {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img__relocation-img{
	padding-bottom: 30px;
}

.pros__text{
	font-size: 22px;
	font-weight: 500;
	padding-top: 20px;
}

.icon__pros{
	width: 123px;
	height: 35px;
}

.Relocatioln__pros-hours {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img__relocation-img-2{
	padding-bottom: 15px;
}

.Relocatioln__pros-2 {
	width: 705px;
	display: flex;
	justify-content: space-between;
	padding-top: 119px;
	padding-bottom: 160px;
	margin: 0 auto;
}

.Relocatioln__pros-stars {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.icon__pros-happy{
	padding-right: 120px;
	margin: 0 auto;
}

.stars__relocation-img{
	padding-bottom: 30px;
}

.stars__text{
	font-size: 22px;
	font-weight: 500;
	padding-top: 20px;
}

.Relocatioln__pros-happy {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.happy__relocation-img{
	padding-bottom: 10px;
}

.happy__text{
	font-size: 22px;
	font-weight: 500;
	padding-top: 10px;
}
/*Секция Why Choose Us*/

.Choose__title{
	text-align: center;
	padding-bottom: 70px;
}

.Choose__title-text{
	font-size: 42px;
	font-weight: 600;
}

.Choose__main{
	display: flex;
	padding-bottom: 160px;
}

.Choose__main-1{
	display: flex;
	flex-direction: column;
}

.Choose__main-2{
	display: flex;
	flex-direction: column;
}

.Choose__main-title{
	font-size: 40px;
	color: #FD7A22;
	font-weight: 600;
	padding-bottom: 10px;
}

.Choose__text-expert{
	color: #1C1C1C;
	font-size: 22px;
	font-weight: 500;
	width: 430px;
	height: 66px;
}

.Choose__title-expert{
	margin-bottom: 77px;
	padding-left: 65px;
}

.Border__Choose{
	padding-bottom: 150px;
}

.How {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 158px;
}

.How__title {
	text-align: center;
	font-size: 42px;
	font-weight: 600;
	padding-bottom: 32px;
}

.How__video {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 928px;	
	height: 522px; /* Размеры */
    background: rgb(255, 255, 255); /* Цвет фона */
    outline: 2px solid #ffffff; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*Секция FAQ*/
.FAQ{
	padding-bottom: 160px;
}

.FAQ__title{
	text-align: center;
	padding-bottom: 22px;
}

.FAQ__title-text{
	font-size: 42px;
	font-weight: 600;
}

.FAQ__hd-text{
	display: flex;
	justify-content: center;
	font-size: 18px;
	font-weight: 400;
}

/*чекбоксы и блоки с содержанием */
.accordion {
	transform: translateZ(0);
	margin-top: 30px;
	padding-bottom: 40px;
	background: white;
	border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
	outline: 2px solid #ffffff; /* Чёрная рамка */
	box-shadow: 0 14px 28px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0.1);
  }
  
  .accordion>.accordion-toggle {
	display: none;
	position: absolute;
	opacity: 0;
  }
  
  .accordion>label {
	display: block;
	position: relative;
	height: 50px;
	line-height: 80px;
	padding: 0 20px;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
  }
  
  .accordion>label:after {
	content: '';
	position: absolute;
	top: 12px;
	right: 20px;
	width: 12px;
	height: 12px;
	border-left: 2px solid #6747FA;
	border-top: 2px solid #6747FA;
	transform: rotate(-135deg);
	transition: 0.4s transform;
  }
  
  .accordion>section {
	overflow: hidden;
	height: 0;
	transition: all .4s;
  }
  
  .accordion>.accordion-toggle:checked~label:after {
	transform: rotate(45deg);
	top: 16px;
  }
  
  .accordion>.accordion-toggle:checked~section {
	height: 50px;
  }
  
  .accordion>section p {
	margin: 15px 0;
	padding: 0 20px;
  }

  /*Секция отзывы, слайдер */

  .Reviews__title-text{
	text-align: center;
	font-size: 42px;
	font-weight: 600;
	padding-bottom: 72px;
  }

  /*Slick*/
.slick-prev:before {
    content: '';
}

.slick-next:before {
    content: '';
}

.cards__stars{
	display: flex;
	padding-top: 46px;
	padding-bottom: 20px;
}

.rev__slider{
	position: relative;
    padding: 0px 60px;  /*Поля между стрелкой и слайдером*/
	width: 928px;
	height: 435px;
	margin: 0 auto;
	margin-bottom: 160px;
}

.rev__slider .slick-arrow{
    position: absolute;
    top: 50%; /* выравнивание по вертикали*/
    margin: -15px 0 0 0; /* корректировка вертикального выравнивания*/
    z-index: 2; /*стрелки сверху картинок*/
    font-size: 0; /*убираем надпись на дефолтной стрелке*/
    width: 30px; /*ширина стрелки*/
    height: 30px; /* высота стрелки*/
}

.rev__slider .slick-arrow.slick-next{
    right: 0; /* правая стрелка переместилась справа от слайдера*/
    background: url('../icon/slider__arrow-right.png') 0 0 / 100% no-repeat;
}

.rev__slider .slick-arrow.slick-prev{
    left: 0; /* левая стрелка остается с левой стороны слайдера*/
    background: url('../icon/slider__arrow-left.png') 0 0 / 100% no-repeat;
}

.cards__main{
	width: 770px;
	height: 117px;
	font-size: 30px;
	font-weight: 400;
	margin: 0 auto;
	padding-top: 24px;
	padding-bottom: 50px;
}

.cards__icon-name{
	display: flex;
	justify-content: start;
	align-items: center;
	padding-top: 40px;
}

.cards__name{
	padding-left: 31px;
	padding-bottom: 15px;
}

.cards__item{
	width: 928px;
	height: 415px;
	background: white;
	border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
	box-shadow: 0 14px 28px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0.1);
}

/*footer*/
.footer{
	width: 1900px;
	height: 160px;
	background-color: #6747FA;
}

.footer__main-flex {
	width: 1120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	margin: 0 auto;
}

.footer__title{
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
}

.footer__text{
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
}

.footer__icon{
	padding-left: 12px;
}

.footer__text {
	width: 251px;
	height: 42px;
}

.footer__form{
	display: flex;
}

.email{
	width: 202px;
	height: 56px;
	border: 1px solid #fff; /* Белая рамка */
    border-radius: 10px 0px 0px 10px; /* Радиус скругления */
}

input[type=text] {
	padding-left: 18px;
	color: #6747FA;
	font-size: 16px;
}
/*Моб версия*/

@media screen and (max-width: 900px){

	/*Загаловок и меню*/

	.header__menu{
		display: flex;
		flex-direction: column;
		align-items: start;
		padding-top: 30px;
	}

	.logo{
		margin: 0 auto;
	}

	.title__logo{
		font-size: 35px;
		align-self: center;
		text-align: end;
	}

	.nav{
		margin: 0 auto;
	}

	.menu{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}

	/*Секция Expert Moving Solution*/

	.header__expert-moving{
		padding-top: 68px;
		
	}
	
	.header__expert{
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
	
	.title__header{
		font-size: 30px;
		text-align: center;
		position: relative;
		
	}
	
	.img__expert-moving{
		display:none;
		padding-left: 240px;
		padding-top: 30px;
		
	}

	.forma__main{
		display: flex;
		justify-content: center;
	}
	
	.forma{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 327px;
		height: 320px;
		background-color: #FD7A22;
		align-items: center;
		justify-content: center;
		border-radius:10px;
		margin-top: 30px;
		margin-bottom: 100px;
	}
	
	.text__from{
		color: #ffffff;
		align-self: start;
		padding-left: 10px;
		padding-bottom: 2px;
		font-weight: 500;
	}
	
	.text__to{
		padding-top: 10px;
		padding-bottom: 2px;
		color: #ffffff;
		font-weight: 500;
	}
	
	.pass{
		padding: 11px;
		background: #ffffff;
		border: 1px solid #ffffff;
		font-size: 20px;
		outline:none;
	}
	
	input[type=password] {
		width: 309px;
		height: 54px;
		border-radius:10px;
		border-color: white;
	}
	
	/*Изменял цвет плэйсхолдера*/
	::-webkit-input-placeholder { /* WebKit browsers */
		color:#DEDEDE;
	 }
	 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:#DEDEDE;
	 }
	 ::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:#DEDEDE;
	 }
	 :-ms-input-placeholder { /* Internet Explorer 10+ */
		color:#DEDEDE;
	 }
	
	:focus::-webkit-input-placeholder {
		color: transparent;
	}
	
	.click{
		display: flex;
		align-items: center;
		color: #ffffff;
		font-size: 15px;
		background-color: #6747FA; 
		border-radius: 10px;
		padding: 10px 50px 10px 40px;
		margin-left: 50px;
	
	}
	
	.buttun__click{
		padding-top: 5px;
	}
	
	.icon__arrow{
		padding-left: 7px;
	}
}
